<div style="width:100%; height: 100%;" class="ng-scope">
	<div id="contenitore1" class="pullDown" animated="" datastart="0" dataend="1000" ng-show="getIsVisible('contenitore1')" style="position: absolute; top: 0px; left: 0px;">
		<div id="img1" class="pullDown" animated="" datastart="0" ng-show="getIsVisible('img1')" style="position: absolute; top: 40px; left: 0px;">
			<img src="contenuti/img/gialloverticale.png" style="">
		</div>
		<div id="img1" class="pullDown" animated="" datastart="0" ng-show="getIsVisible('img1')" style="position: absolute; top: 20px; left: 0px;">
			<img src="contenuti/img/bluverticale.png" style="">
		</div>
		<div id="img3" class="bigEntrance" animated="" datastart="0" ng-show="getIsVisible('img3')" style="position: absolute; top: 25px; left: 0px;">
			<img src="contenuti/0019_20_01_M01UD02/img/p16_17.png">
		</div>
		<!--div id="img2" class="pullDown" animated="" datastart="1" ng-show="getIsVisible('img2')" style="position: absolute;top: 330px;left: -30px;">
			<img src="contenuti/img/boxTitolo.png" style="height: 100px;width: 410px;">
			<div style="position: absolute;top: 10px;left: 40px;font-size: 15px;width: 360px;">
				<div id="blocco5" animated="" datastart="1" ng-show="getIsVisible('blocco5')" class="slideRight" style=""><b>Valutazione dell'idoneità e relazioni sull'idoneità</b></div>
				<div id="blocco6" animated="" datastart="1" ng-show="getIsVisible('blocco6')" class="slideRight" style="">(Articolo 54 del regolamento (UE) 2017/565)</div>
			</div>
		</div-->
	</div>
	
	<div id="contenitore2" class="pullDown" animated="" datastart="1" dataend="1000" ng-show="getIsVisible('contenitore2')" style="position: absolute;top: 30px;left: 330px;">
		<div id="img5" class="pullDown" animated="" datastart="1" ng-show="getIsVisible('img5')" style="position: absolute; top: 24px; left: 0px;">
			<img src="contenuti/img/violaangolo.png" style="">
		</div>
		<div style="position: absolute;top: 50px;left: 40px;font-size: 16px;width:600px;">
			<div id="cont2_txt1" animated="" datastart="1" ng-show="getIsVisible('cont2_txt1')" class="slideRight" style="">Vi sono poi da considerare altri fattori di rischio, quali, ad esempio, quelli attinenti:</div>
		</div>
		<div style="position: absolute;top: 110px;left: 50px;font-size: 15px;width: 550px;line-height: 20px;">
			<ul style="list-style-image: url(images/pelenco.png);">
				<li class="slideLeft" id="cont2_pe1" animated="" datastart="6" dataend="1000" ng-show="getIsVisible('cont2_pe1')" style="">ai <b>sistemi di negoziazione elettronici o ad asta gridata</b> che sono supportati da sistemi computerizzati per le procedure di trasmissione degli ordini (order routing), per l'incrocio, la registrazione e la compensazione delle operazioni;</li>
				<li class="slideLeft" id="cont2_pe2" animated="" datastart="23" dataend="1000" ng-show="getIsVisible('cont2_pe2')" style="margin-top: 80px;">alle <b>operazioni eseguite fuori da mercati organizzati</b> (over the counter, OTC).</li>
			</ul>
		</div>
		<div id="bloccoImgPopup1" class="pulse" animated="" ng-show="mediaEnded" style="position: absolute;font-size: 40px;left: 280px;top: 190px;">
			<a ng-class="{'visitato': approfondimentiObbligatori[0]}" class="linkPagina" href="" ng-click="openBoxAppro(800,400,'0019_20_01_M01UD02P17_A','Rischi legati a sistemi di negoziazione elettronici',1,15)" a-disabled="approfondimentiObbligatori.length === 0"><img ng-src="{{approfondimentiObbligatori[0]?'contenuti/img/occhiali_visitato.png':'contenuti/img/occhiali.png'}}" style="width:90px;"></a>
		</div>
		<div id="bloccoImgPopup2" class="pulse" animated="" ng-show="mediaEnded" style="position: absolute;font-size: 40px;left: 280px;top: 300px;">
			<a ng-class="{'visitato': approfondimentiObbligatori[1]}" class="linkPagina" href="" ng-click="openBoxAppro(800,400,'0019_20_01_M01UD02P17_B','Rischi legati ad operazioni effettuate fuori dai mercati organizzati',2,15)" a-disabled="approfondimentiObbligatori.length === 0"><img ng-src="{{approfondimentiObbligatori[1]?'contenuti/img/occhiali_visitato.png':'contenuti/img/occhiali.png'}}" style="width:90px;"></a>
		</div>
	</div>	
		
	<div class="istruzionePopup">
		<div id="bloccoIstruzionePopup" animated="" ng-show="mediaEnded" class="slideDown" style="">Fai clic sugli occhiali e leggi l’approfondimento</div>
    </div>
</div>
<aside>
     <audio audiosource="contenuti/0019_20_01_M01UD02/audio/m01ud02p17" condiviso="true">
    </audio>
</aside>
<script type="text/ng-template" id="0019_20_01_M01UD02P17_A">
  <div style="color:#FFF;">
    <p>Come tutte le procedure automatizzate, detti sistemi possono subire temporanei arresti o essere soggetti a malfunzionamenti. Inoltre, gli ordini da eseguirsi su mercati che si avvalgono di sistemi di negoziazione computerizzati potrebbero risultare non eseguiti secondo le modalità specificate dall'investitore o risultare ineseguiti nel caso i sistemi di negoziazione suddetti subissero malfunzionamenti o arresti imputabili all'hardware o al software dei sistemi medesimi.</p>
  </div>
</script>
<script type="text/ng-template" id="0019_20_01_M01UD02P17_B">
  <div style="color:#FFF;">
    <p>Per le operazioni effettuate fuori dai mercati organizzati può risultare difficoltoso o impossibile liquidare uno strumento finanziario o apprezzarne il valore effettivo e valutare l'effettiva esposizione al rischio, in particolare qualora lo strumento finanziario non sia trattato su alcun mercato organizzato.</p>
  </div>
</script>