<div style="width:100%; height: 100%;" class="ng-scope" ng-controller="PagineEspertoRispondeCtrl">
	<div id="sfdEspRisp" class="pullDown" animated="" datastart="0" ng-show="getIsVisible('sfdEspRisp')" style="position: absolute; top: 0px; left: 0px;">
		<img src="contenuti/img/sfdEspRisp.jpg" style="">
	</div>
	<div id="Cop" class="pullDown" animated="" datastart="1" ng-show="getIsVisible('Cop')" style="position: absolute; top: 0px; left: 0px;">
		<img src="contenuti/img/sfondocopertina.png" style="">
	</div>
	
	<div id="boxBluOmbra1" class="pullDown" animated="" datastart="2" ng-show="getIsVisible('boxBluOmbra1')" style="position: absolute;top: 20px;left: 20px;">
		<img src="contenuti/img/espertorispombrablu.png" style="">
	</div>
	<div id="boxBluOmbra2" class="pullDown" animated="" datastart="2" ng-show="getIsVisible('boxBluOmbra2')" style="position: absolute;top: 20px;left: 330px;">
		<img src="contenuti/img/espertorispombrablu.png" style="">
	</div>
	<div id="boxBluOmbra3" class="pullDown" animated="" datastart="2" ng-show="getIsVisible('boxBluOmbra3')" style="position: absolute;top: 310px;left: 20px;">
		<img src="contenuti/img/espertorispombrablu.png" style="">
	</div>
	<div id="boxBluOmbra4" class="pullDown" animated="" datastart="2" ng-show="getIsVisible('boxBluOmbra4')" style="position: absolute;top: 310px;left: 330px;">
		<img src="contenuti/img/espertorispombrablu.png" style="">
	</div>
  <div id="graficaTest" style="position: absolute;">
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   id="EspertoRisponde"
   width="1000"
   height="440"
   version="1.1"
   sodipodi:docname="esperto.svg"
   inkscape:version="0.92.2 (5c3e80d, 2017-08-06)">
  <metadata
     id="metadata35">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs33" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1644"
     inkscape:window-height="970"
     id="namedview31"
     showgrid="false"
     inkscape:zoom="0.933375"
     inkscape:cx="501.27226"
     inkscape:cy="187.0229"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="0"
     inkscape:current-layer="box4" />
  <path
     class="boxDomanda"
     d="M 177.984,25.538483 V 307.12739 L 357.5091,285.9458 V 25.538483 Z"
     id="path2"
     inkscape:connector-curvature="0"
     style="fill:#000000;fill-opacity:1;stroke-width:1.06331611" />
  <path
     class="boxDomanda"
     d="M 391.02654,46.237711 V 327.82661 L 570.425,306.64503 V 46.237711 Z"
     id="path4"
     inkscape:connector-curvature="0"
     style="fill:#000000;fill-opacity:1;stroke-width:1.06294107" />
  <path
     class="boxDomanda"
     d="M 598.808,24.803702 V 306.39366 L 778.14428,285.21102 V 24.803702 Z"
     id="path6"
     inkscape:connector-curvature="0"
     style="fill:#000000;fill-opacity:1;stroke-width:1.06275678" />
  <path
     class="boxDomanda"
     d="M 805.35185,50.302047 V 331.892 L 984.427,310.70936 V 50.302047 Z"
     id="path8"
     inkscape:connector-curvature="0"
     style="fill:#000000;fill-opacity:1;stroke-width:1.06198275" />
  <g
     class="boxRisposta"
     id="box1"
     transform="matrix(1.0768577,0,0,1.0499448,-50.292605,-9.97695)">
    <path
       d="M 379.137,31.574 V 298.71 L 212.425,278.615 V 31.575 Z"
       id="path10"
       style="fill:#e4c715;fill-opacity:1"
       inkscape:connector-curvature="0" />
    <path
       d="M 378.357,299.768 V 31.574 h -2.116 l -8.14,255.22 -154.89,-7.013 z"
       id="path12"
       inkscape:connector-curvature="0"
       style="fill:#000000;fill-opacity:1" />
  </g>
  <g
     class="boxRisposta"
     id="box2"
     ng-click="mostraRisposta(2)"
     transform="matrix(1.0760981,0,0,1.0499448,-49.080354,-3.9769504)">
    <path
       d="M 575.137,46.574 V 313.71 L 408.425,293.615 V 46.575 Z"
       id="path15"
       style="fill:#e4c715;fill-opacity:1"
       inkscape:connector-curvature="0" />
    <path
       d="M 574.357,314.768 V 46.574 h -2.116 l -8.14,255.22 -154.89,-7.013 z"
       id="path17"
       inkscape:connector-curvature="0"
       style="fill:#000000;fill-opacity:1" />
  </g>
  <g
     class="boxRisposta"
     id="box3"
     ng-click="mostraRisposta(3)"
     transform="matrix(1.0757251,0,0,1.0499448,-64.707828,2.0230496)">
    <path
       d="M 784.137,19.574 V 286.71 L 617.427,266.615 V 19.575 Z"
       id="path20"
       style="fill:#e4c715;fill-opacity:1"
       inkscape:connector-curvature="0" />
    <path
       d="M 783.357,287.768 V 19.574 h -2.116 l -8.14,255.22 -154.89,-7.013 z"
       id="path22"
       inkscape:connector-curvature="0"
       style="fill:#000000;fill-opacity:1" />
  </g>
  <g
     class="boxRisposta"
     id="box4"
     ng-click="mostraRisposta(4)"
     transform="matrix(1.0741587,0,0,1,-59.655281,0)">
    <path
       d="M 971.137,48.073014 V 328.55108 L 804.427,307.45243 V 48.074064 Z"
       id="path25"
       style="fill:#e4c715;fill-opacity:1;stroke-width:1.0246681"
       inkscape:connector-curvature="0" />
    <path
       d="M 970.357,329.66192 V 48.073014 h -2.116 l -8.14,267.966916 -154.89,-7.36326 z"
       id="path27"
       inkscape:connector-curvature="0"
       style="fill:#000000;fill-opacity:1;stroke-width:1.0246681" />
  </g>
</svg>
  </div>

  <div id="Domanda" style="position: absolute;">
    <div id="esperto1" class="esperto pullDown" animated="" datastart="4" ng-show="getIsVisible('esperto1')" style="position: absolute;top: 15px;left: 15px;" ng-click="mostraRisposta(1)">
      <div id="dom1" class="domandeER" ng-style="(isIE || isFF) && {'background-image': 'url(images/backgroundDomanda.png)'}">
        Come funziona il digital wealth management?
      </div>
      <div id="risp1" class="risposteER" ng-style="(isIE || isFF) && {'background-image': 'url(images/backgroundRisposta.png)'}" style="font-size: 16px;">
        Con digital wealth management si intende una piattaforma di servizi on-line, gestita con l’ausilio di robo advisor, che forniscono una consulenza finanziaria mediante algoritmi informatici e/o alberi decisionali.
      </div>
    </div>
    <div id="esperto2" class="esperto pullDown" animated="" datastart="4" ng-show="getIsVisible('esperto2')" style="position: absolute; top: 15px;left: 325px;" ng-click="mostraRisposta(2)">
      <div id="dom2" class="domandeER" ng-style="(isIE || isFF) && {'background-image': 'url(images/backgroundDomanda.png)'}">
        Quali sono caratteristiche e vantaggi del ricorso a robo advisor?
      </div>
      <div id="risp2" class="risposteER" ng-style="(isIE || isFF) && {'background-image': 'url(images/backgroundRisposta.png)'}" style="font-size: 16px;">
        Sicuramente la velocità e la completezza di risposta in base ai dati disponibili. Grosso vantaggio è l’economicità delle transazioni, ma è importante la caratteristica che limita errori comportamentali come, ad esempio, l'overconfidence.
      </div>
    </div>
    <div id="esperto3" class="esperto pullDown" animated="" datastart="4" ng-show="getIsVisible('esperto3')" style="position: absolute;top: 305px;left: 15px;" ng-click="mostraRisposta(3)">
      <div id="dom3" class="domandeER" ng-style="(isIE || isFF) && {'background-image': 'url(images/backgroundDomanda.png)'}">
        I robo advisor sostituiranno i consulenti finanziari tradizionali?
      </div>
      <div id="risp3" class="risposteER" ng-style="(isIE || isFF) && {'background-image': 'url(images/backgroundRisposta.png)'}" style="font-size: 16px;">
        I robo advisor si focalizzano essenzialmente sulla gestione del portafoglio e quindi sull'allocazione degli investimenti. Nella pianificazione finanziaria con orizzonti temporali di lungo periodo e scelte di investimento articolate il ruolo del consulente finanziario rimane comunque imprescindibile.
      </div>
    </div>
    <div id="esperto4" class="esperto pullDown" animated="" datastart="4" ng-show="getIsVisible('esperto4')" style="position: absolute;top: 305px;left: 325px;" ng-click="mostraRisposta(4)">
      <div id="dom4" class="domandeER" ng-style="(isIE || isFF) && {'background-image': 'url(images/backgroundDomanda.png)'}">
        Esistono regolamenti speciali per la consulenza finanziaria virtuale?
      </div>
      <div id="risp4" class="risposteER" ng-style="(isIE || isFF) && {'background-image': 'url(images/backgroundRisposta.png)'}" style="font-size: 16px;">
        Le regole sono quelle dei NCAs (National Competent Authorities – Autorità nazionali competenti) sull'applicazione dei requisiti, le linee guida sono descritte dall’ESMA nel documentoa «Le linee guida finali sui requisiti di idoneità MiFID II».
      </div>
    </div>
  </div>
</div>
<aside>
    <audio audiosource="contenuti/0064_18_04_M03UD02/audio/0064_18_04_m03ud02p11" condiviso="true">
    </audio>
</aside>
<style>
  #sfondoEspertoRisponde, .boxDomanda, .boxRisposta {
    visibility: hidden;
    opacity: 1;
  }

  .elementiSVG {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }
</style>
