<div style="width:100%; height: 100%;" class="ng-scope">
	<div id="contenitore2" class="pullDown" animated="" datastart="0" dataend="1000" ng-show="getIsVisible('contenitore2')" style="position: absolute;top: 20px;left: 20px;width: 420px;text-align: center;">
		<div style="position: relative;font-size: 20px;font-weight: bold;color: #006699 !important;">
			<div id="cont2_txt1" animated="" datastart="0" ng-show="getIsVisible('cont2_txt1')" class="slideRight" style="">Il rating assegnato alle emittenti</div>
		</div>
		<div id="cont2_img1" class="bigEntrance" animated="" datastart="2" ng-show="getIsVisible('cont2_img1')" style="position: relative; top: 20px;">
			<img src="contenuti/0064_18_03_M02UD07/img/p08.gif">
		</div>
		<div style="position: relative;top: 0px;left: 0px;font-size: 18px;font-weight: bold;color: #006699 !important;">
			<div id="cont2_txt2" animated="" datastart="4" ng-show="getIsVisible('cont2_txt2')" class="slideRight" style="">RISCHIO DI DEFAULT</div>
		</div>
		<div style="position: absolute;top: 140px;left: 0px;width: 150px;text-align: left;font-size: 18px;font-weight: bold;color: #006699 !important;">
			<div id="cont2_txt3" animated="" datastart="12.5" ng-show="getIsVisible('cont2_txt3')" class="slideRight" style="">RISCHIO DI MIGRAZIONE</div>
		</div>
		<div style="position: absolute;top: 140px;left: 300px;width: 100px;text-align: left;font-size: 18px;font-weight: bold;color: #006699 !important;">
			<div id="cont2_txt4" animated="" datastart="14" ng-show="getIsVisible('cont2_txt4')" class="slideRight" style="">RISCHIO SPREAD</div>
		</div>
	</div>
	
	<div id="contenitore3" class="pullDown" animated="" datastart="16.5" dataend="1000" ng-show="getIsVisible('contenitore3')" style="position: absolute;top: 20px;left: 480px;width: 300px;">
		<div id="cont3_box1" class="bigEntrance" animated="" datastart="16.5" ng-show="getIsVisible('cont3_box1')" style="position: absolute; top: 0px; left: 0px; text-align: center;">
			<img src="contenuti/img/box1.png" style="width: 200px;">
			<div id="cont3_box1" animated="" datastart="16.5" ng-show="getIsVisible('cont3_box1')" class="slideRight" style="position: inherit;top: 50px;left: 15px;width: 120px;font-size: 16px;font-weight: bold;">Rischio di default</div>			
		</div>
		<div id="cont3_box1_A" class="bigEntrance" animated="" datastart="18" ng-show="getIsVisible('cont3_box1_A')" style="position: absolute; top: 30px; left: 210px; font-size: 16px;">			
			<div id="cont3_box1_A" animated="" datastart="18" ng-show="getIsVisible('cont3_box1_A')" class="slideRight" style="position: inherit;top: 3px;left: 3px;width: 290px;height: 80px;background: rgb(0, 102, 153);"></div>
			<div id="cont3_box1_A" animated="" datastart="18" ng-show="getIsVisible('cont3_box1_A')" class="slideRight" style="position: inherit; width: 290px; height: 80px; background: rgb(255, 222, 57);"></div>
			<div id="cont3_box1_A" animated="" datastart="18" ng-show="getIsVisible('cont3_box1_A')" class="slideRight" style="position: inherit; width: 280px; top: 7px; left: 5px;">Rischio che l’emittente dell’obbligazione fallisca prima della scadenza del titolo.</div>
		</div>
		<div id="cont3_box2" class="bigEntrance" animated="" datastart="24" ng-show="getIsVisible('cont3_box2')" style="position: absolute; top: 180px; left: 0px; text-align: center;">
			<img src="contenuti/img/box1.png" style="width: 200px;">
			<div id="cont3_box2" animated="" datastart="24" ng-show="getIsVisible('cont3_box2')" class="slideRight" style="position: inherit;top: 50px;left: 15px;width: 120px;font-size: 16px;font-weight: bold;">Rischio di migrazione</div>			
		</div>
		<div id="cont3_box2_A" class="bigEntrance" animated="" datastart="25.5" ng-show="getIsVisible('cont3_box2_A')" style="position: absolute; top: 200px; left: 210px; font-size: 16px;">			
			<div id="cont3_box2_A" animated="" datastart="25.5" ng-show="getIsVisible('cont3_box2_A')" class="slideRight" style="position: inherit;top: 3px;left: 3px;width: 290px;height: 100px;background: rgb(0, 102, 153);"></div>
			<div id="cont3_box2_A" animated="" datastart="25.5" ng-show="getIsVisible('cont3_box2_A')" class="slideRight" style="position: inherit; width: 290px; height: 100px; background: rgb(255, 222, 57);"></div>
			<div id="cont3_box2_A" animated="" datastart="25.5" ng-show="getIsVisible('cont3_box2_A')" class="slideRight" style="position: inherit; width: 280px; top: 6px; left: 5px;">Rischio che l’emittente subisca un declassamento (downgrading) indipendentemente dal fallimento.</div>
		</div>
		<div id="cont3_box3" class="bigEntrance" animated="" datastart="32.5" ng-show="getIsVisible('cont3_box3')" style="position: absolute; top: 360px; left: 0px; text-align: center;">
			<img src="contenuti/img/box1.png" style="width: 200px;">
			<div id="cont3_box3" animated="" datastart="32.5" ng-show="getIsVisible('cont3_box3')" class="slideRight" style="position: inherit;top: 50px;left: 15px;width: 120px;font-size: 16px;font-weight: bold;">Rischio spread</div>			
		</div>
		<div id="cont3_box3_A" class="bigEntrance" animated="" datastart="34" ng-show="getIsVisible('cont3_box3_A')" style="position: absolute; top: 370px; left: 210px; font-size: 16px;">			
			<div id="cont3_box3_A" animated="" datastart="34" ng-show="getIsVisible('cont3_box3_A')" class="slideRight" style="position: inherit;top: 3px;left: 3px;width: 290px;height: 120px;background: rgb(0, 102, 153);"></div>
			<div id="cont3_box3_A" animated="" datastart="34" ng-show="getIsVisible('cont3_box3_A')" class="slideRight" style="position: inherit; width: 290px; height: 120px; background: rgb(255, 222, 57);"></div>
			<div id="cont3_box3_A" animated="" datastart="34" ng-show="getIsVisible('cont3_box3_A')" class="slideRight" style="position: inherit; width: 280px; top: 5px; left: 5px;">Differenza tra il prezzo della migliore proposta d’acquisto e il prezzo della miglior proposta di vendita in un dato momento sul mercato.</div>
		</div>
	</div>
	
	<div id="bloccoImgPopup1" class="pulse" animated="" ng-show="mediaEnded" style="position: absolute;left: 155px;top: 380px;">
		 <a ng-class="{'visitato': approfondimentiObbligatori[0]}" class="linkPagina" href="" ng-click="openBoxAppro(800,400,'0064_18_03_m02ud07p08_a','RISCHIO DI DEFAULT',1,20)" a-disabled="approfondimentiObbligatori.length === 0"><img ng-src="{{approfondimentiObbligatori[0]?'contenuti/img/popup_visitato.png':'contenuti/img/popup.png'}}" style="width:150px;"></a>
	</div>
	<div id="bloccoImgPopup2" class="pulse" animated="" ng-show="mediaEnded" style="position: absolute;left: 0px;top: 380px;">
		 <a ng-class="{'visitato': approfondimentiObbligatori[1]}" class="linkPagina" href="" ng-click="openBoxAppro(800,400,'0064_18_03_m02ud07p08_b','RISCHIO DI MIGRAZIONE',2,20)" a-disabled="approfondimentiObbligatori.length === 0"><img ng-src="{{approfondimentiObbligatori[1]?'contenuti/img/popup_visitato.png':'contenuti/img/popup.png'}}" style="width:150px;"></a>
	</div>
	<div id="bloccoImgPopup3" class="pulse" animated="" ng-show="mediaEnded" style="position: absolute;left: 310px;top: 380px;">
		 <a ng-class="{'visitato': approfondimentiObbligatori[2]}" class="linkPagina" href="" ng-click="openBoxAppro(800,400,'0064_18_03_m02ud07p08_c','RISCHIO SPREAD',3,20)" a-disabled="approfondimentiObbligatori.length === 0"><img ng-src="{{approfondimentiObbligatori[2]?'contenuti/img/popup_visitato.png':'contenuti/img/popup.png'}}" style="width:150px;"></a>
	</div>
	<div class="istruzionePopup" style="position: absolute;left: 0px;width: 655px;">
		<div id="bloccoIstruzionePopup" animated="" ng-show="mediaEnded" class="slideDown" style="margin-top: 5px;">Fai clic sull'info point per approfondire l’argomento</div>
    </div>
</div>
<aside>
    <audio audiosource="contenuti/0064_18_03_M02UD07/audio/0064_18_03_m02ud07p08" condiviso="true">
    </audio>
</aside>
<script type="text/ng-template" id="0064_18_03_m02ud07p08_a">
  <div style="color:#FFF;">
    <p>Per quantificare l’entità del rischio che l’emittente dell’obbligazione fallisca prima della scadenza del titolo, è indispensabile (almeno) la stima della probabilità che si verifichi l’evento fallimento.</p>
  </div>
</script>
<script type="text/ng-template" id="0064_18_03_m02ud07p08_b">
  <div style="color:#FFF;">
    <p>Attraverso una matrice detta “di transizione” (pubblicata dalle agenzie di rating) è possibile stimare la probabilità che si verifichi una variazione del merito creditizio dell’emittente.</p>
  </div>
</script>
<script type="text/ng-template" id="0064_18_03_m02ud07p08_c">
  <div style="color:#FFF;">
    <p>La differenza tra il prezzo della migliore proposta d’acquisto e il prezzo della miglior proposta di vendita, tende generalmente ad ampliarsi in presenza di tensioni sui mercati ed è tipicamente il risultato di una riduzione della propensione al rischio degli investitori o di un peggioramento del merito creditizio dell’emittente.</p>
  </div>
</script>